
.buy-youtube-subscribers-banner {
    margin-top: 88px;
}

main .btn-warning {
    border-radius: 100px;
    padding: 9px 23px;
    font-weight: 700;
    background-color: #133852;
    border-color: #133852;
    color: #fff;
}

.w-95 {
    width: 95% !important;
}

@media (max-width: 768px) {
    .container-fluid {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}


