<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>RS | Home</title>
    <link
      rel="preload"
      href="/css/footer.css"
      as="style"
      onload="this.rel='stylesheet'"
    />
    <!-- <link rel="preload" href="/css/bootstrap.min.css" as="style"> -->
    <!-- <link rel="preconnect" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <!-- <link rel="dns-prefetch" href="https://fonts.googleapis.com/css?family=Exo:300,400,400i,500&display=swap"> -->
  </head>

  <body>
    <div class="rs-footer" id="footer">
      <div class="lazyload container-fluid footer">
        <div class="row justify-content-center">
          <div class="col-md-3 col-lg-3 col-sm-12">
            <h6>youtube services</h6>
            <ul class="yt-services">
              <li>
                <a href="/" class="text-capitalize">buy youtube subscribers</a>
              </li>
              <li>
                <a href="/free-youtube-subscribers.html" class="text-capitalize"
                  >free youtube subscribers</a>
              </li>
              <li>
                <a href="/buy-youtube-likes.html" class="text-capitalize"
                  >buy youtube likes</a
                >
              </li>
              <li>
                <a href="/buy-youtube-comments.html" class="text-capitalize"
                  >buy youtube comments</a
                >
              </li>
            </ul>
          </div>
          <div class="col-md-3 col-lg-3 col-sm-12">
            <h6>instgram services</h6>
            <ul class="insta-services">
              <li>
                <a href="/free-instagram-followers.html" class="text-capitalize"
                  >free instagram followers</a
                >
              </li>
              <li>
                <a href="/buy-instagram-followers.html" class="text-capitalize"
                  >buy instagram followers</a
                >
              </li>
              <li>
                <a href="/contact-us.html" class="text-capitalize"
                  >contact us</a
                >
              </li>
            </ul>
          </div>
          <div class="col-md-3 col-lg-3 col-sm-12">
            <h6>Legal</h6>
            <ul class="legal">
              <li><a href="../privacy-policy.html">Privacy Policy</a></li>
              <li><a href="../terms-conditions.html">Terms & Conditions</a></li>
            <li><a href="refund.html" target="_blank">Refund & Cancellation Policy</a></li>
              <li><a href="../disclaimer.html">Disclaimer</a></li>
              <li><a href="#"></a></li>
            </ul>
          </div>
          <div class="col-md-3 col-lg-3 col-sm-12">
            <h6>contact us</h6>
            <div class="footer-social">
              <ul>
                <li>
                  <a
                    href="https://www.facebook.com/Buy-YouTube-Subscribers-102013038631491"
                    target="_blank"
                    rel="nofollow"
                    ><i class="fa fa-facebook"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://twitter.com/YouTube27634735"
                    target="_blank"
                    rel="nofollow"
                    ><i class="fa fa-twitter"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.youtube.com/channel/UCoECVKTvc6W6phGFAMM1qPw"
                    target="_blank"
                    rel="nofollow"
                    ><i class="fa fa-youtube"></i
                  ></a>
                </li>
                <!-- <li><a href="" target="_blank" rel="nofollow"><i class="fa fa-linkedin"></i></a></li><br> -->
                <li>
                  <a
                    href="https://www.instagram.com/buy_youtube_subscribers_usa/"
                    target="_blank"
                    rel="nofollow"
                    ><i class="fa fa-instagram"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://in.pinterest.com/buy_youtube_subscribers/_saved/"
                    target="_blank"
                    rel="nofollow"
                    ><i class="fa fa-pinterest"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://vimeo.com/user134330209"
                    target="_blank"
                    rel="nofollow"
                    ><i class="fa fa-vimeo"></i
                  ></a>
                </li>
                <br />
              </ul>
              <a href="mailto:contact@realsubscribers.com" target="_blank"
                ><p>contact@realsubscribers.com</p></a
              >
              <a href="https://www.realsubscribers.com/sitemap.html" target="_blank"><p>Sitemap HTML</p></a>
            <a href="https://www.realsubscribers.com/sitemap.xml" target="_blank"><p>Sitemap XML</p></a>
            </div>
          </div>
          <hr class="my-0" />
          <div class="col-md-12 col-lg-12 col-sm-12">
            <p>&copy; 2021. All Rights Reserved</p>
            <p>
              <a
                href="//www.dmca.com/Protection/Status.aspx?ID=6f93ad45-fe9f-4cc4-838b-1f25e56b6105"
                title="DMCA.com Protection Status"
                class="dmca-badge"
              >
                <img
                  src="https://images.dmca.com/Badges/_dmca_premi_badge_7.png?ID=6f93ad45-fe9f-4cc4-838b-1f25e56b6105"
                  alt="DMCA.com Protection Status"
              /></a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/lazysizes.min.js"></script>
    <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"></script>
  </body>
</html>
