<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>RS | Home</title>
  <link rel="icon" type="img/ico" href="../assets/RS-favicon.ico">
  <link rel="preload" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    onload="this.rel='stylesheet'">
  <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    as="style" onload="this.rel='stylesheet'">
  <link rel="stylesheet" href="../css/header.css" type="text/css">

  <style>
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

    .nav-link {
      font-size: 1vw !important;
      font-weight: 700;
      position: relative;
      top: 2px;
    }
  </style>

</head>

<body>
  <div class="rs-header">
    <nav class="rs-navbar navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a href="/" class="navbar-brand">
        <img src="../assets/logo-blue.png" class="img-fluid" alt="real subscribers" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav mx-auto">
          <div class="dropdown show">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              youtube services
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="./video-editing-service-for-youtubers.html">video editing services</a></li>
              <!-- <li><a class="dropdown-item" href="./thumbnail-designer.html">thumbnail designer</a></li> -->
              <!-- <li><a class="dropdown-item" href="/free-youtube-subscribers.html">free youtube subscribers </a></li> -->
              <li><a class="dropdown-item" href="/">buy youtube subscribers </a></li>
              <li><a class="dropdown-item" href="/buy-youtube-likes.html">buy youtube likes </a></li>
              <li><a class="dropdown-item" href="/buy-youtube-comments.html">buy youtube comments </a></li>
              <li><a class="dropdown-item" href="/buy-youtube-watch-hours.html">buy youtube watch hours </a></li>
              <li><a class="dropdown-item" href="/buy-youtube-views.html">buy youtube views </a></li>
            </div>
          </div>
          <div class="dropdown show">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              instagram services
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <!-- <li><a class="dropdown-item b-bottom" href="/free-instagram-followers.html">free instagram followers </a> -->
              <!-- </li> -->
              <li><a class="dropdown-item b-bottom" href="/buy-instagram-followers.html">buy instagram followers </a>
              </li>
              <li><a class="dropdown-item b-bottom" href="/buy-instagram-likes.html">buy instagram likes </a>
              </li>
              <li><a class="dropdown-item b-bottom" href="/buy-instagram-comments.html">buy instagram comments </a>
              </li>
            </div>
          </div>
          <li class="nav-item">
            <a class="nav-link yt-shadow" href="../blogs.html">Blogs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/why-us.html">why us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about-us.html">about us</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link bt btn-danger" href="/contact-us.html">Contact Us</a>
          </li> -->
          <!-- <li class="nav-item ml-2" id="auth-wrapper"><button class="btn btn-danger"
              onclick="redirectToLogin()">REGISTER / LOGIN</button></li> -->
          <!-- <li class="nav-item ml-2" id="username-wrapper">
            <div class="d-flex justify-content-center pl-4 ml-2">
              <i class="fa fa-user pr-2 text-blue"></i>
              <span id="username" class="text-blue font-weight-bold"></span>
            </div>
            <a class=" d-block text-right text-danger font-weight-bolder" onclick="logoutUser()">Logout</a>
          </li> -->
        </ul>
        <form class="form-inline my-2 my-lg-0 mr-6 d-lg-inline-block">
          <a href="/contact-us.html" class="btn btn-danger my-2 my-sm-0 px-4 pb-2">contact us</a>
        </form>
      </div>
    </nav>
  </div>

  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  
  <script src="../js/header.js"></script>
  <script>
    $('html').css('overflow-x', 'initial');
  </script>

  <!-- <script src="https://www.gstatic.com/firebasejs/7.9.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.9.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.9.1/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.9.1/firebase-analytics.js"></script>
  <script src="../js/firebase-config.js"></script> -->
  

</body>