html, body {
  padding: 0;
  margin: 0;
}

.rs-forget-password {
    animation: fadein 2s;
    background: url("../assets/forget-password-bg.jpg");
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forget-password-form {
  width: 400px;
  margin: 0 auto;
  padding: 30px 0;
}

.forget-password-form form {
  color: #434343;
  border-radius: 2px;
  margin-bottom: 15px;
  background: #fff;
  border: 1px solid #f3f3f3;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  /* padding: 30px; */
}

.lock-icon {
  display: flex;
  justify-content: center;
}

.text-theme-color {
  color: #0c273a !important;
}

.bg-theme-color {
  background: #0c273a !important;
  border: none;
}