
html {
  scroll-behavior: smooth !important;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden !important;
}

.navbar-light {
  background-color: transparent;
  transition: 500ms ease;
}
.navbar-light.changebgcolor {
  background-color: #e4e4e4;
  color: #fff;
}
.navbar-light .navbar-nav .nav-link {
  font-size: 1vw;
  font-weight: 700;
  color: #133852;
  text-transform: uppercase;
}
.navbar-brand img {
  width: 10vw;
}
.navbar-light .btn-danger {
  border-radius: 100px;
  font-weight: 700;
  padding: 0.4vw 1vw 2.6vw 1vw;
  text-transform: uppercase;
  font-size: 0.8vw;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  border-color: inherit;
}
.dropdown .btn-secondary:hover {
  color: #133852;
  background-color: inherit;
}
.dropdown {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1vw;
  padding: 0.5vw 0.7vw;
}
.dropdown .dropdown-toggle:hover {
  text-decoration: none;
}
.dropdown .dropdown-toggle {
  color: #133852;
}
.dropdown .dropdown-menu {
  background-color: #fff;
  box-shadow: 8px 2px 30px 0px rgba(46,61,73,0.15);
  margin-top: 0.8vw;
  border: none;
  padding: 0;
}
.b-bottom {
  border-bottom: none !important;
}
.dropdown .dropdown-item {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9vw;
  color: #133852;
  padding: 0.8vw 0.8vw 0.8vw 1vw;
  /* border-bottom: 1px solid rgb(218, 218, 218); */
}
.dropdown .dropdown-item:hover {
  background-color: inherit;
  display: block;
}

.jumbotron {
  background: url("../assets/free-instagram-followers/free-insta-banner.jpg") no-repeat;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  position: relative;
  margin: 0;
}
.jumbotron h1 {
  color: #133852;
  position: absolute;
  top: 3.7vw;
  line-height: 3.7vw;
  font-size: 3vw;
  font-weight: 700;
  left: 3vw;
  max-width: 66%;
}
.jumbotron p {
  color: #133852;
  padding: 0.7vw 2vw 0.8vw 1vw;
  border-radius: 7px;
  margin-right: 20px;
  font-size: 18px;
  font-weight: 600;
  background-color: #fff;
  position: absolute;
  top: 8.7vw;
  box-shadow: 6px 6px 20px 2px rgba(46, 61, 73, 0.15);
  left: 3vw;
}
.jumbotron .banner-points {
  position: absolute;
  top: 13vw;
}
.jumbotron .banner-points li {
  list-style: none;
  color: #444;
  margin-bottom: 10px;
  font-size: 1.1vw;
}
.jumbotron .banner-points li::before {
  font-family: "FontAwesome";
  content: "\f0da";
  font-weight: 600;
  color: #444;
  margin-right: 10px;
  font-size: 20px;
}

.jumbotron .banner-form {
  padding: 30px 20px;
  border-radius: 5px;
  position: absolute;
  width: 91vw;
  right: 2vw;
  text-align: center;
  box-shadow: 8px 10px 20px 13px rgba(46, 61, 73, 0.15);
}
.jumbotron .banner-form span {
  display: inline-block;
  font-weight: 600;
  color: #133852;
  font-size: 20px;
  padding-bottom: 15px;
  text-transform: capitalize;
}
.jumbotron .btn-info {
  border-radius: 100px;
  font-weight: 600;
  font-size: 1vw;
  text-transform: capitalize;
  padding: 0.5vw 1.5vw 0.8vw 1.5vw;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  border-color: inherit;
}

/* first heading */
.first-heading {
  background-color: #f9f9f9;
  padding: 3vw 0vw 4vw 0vw;
}
.first-heading h2 {
  font-weight: 700;
  font-size: 2.3vw;
  color: #133852;
}
.first-heading p {
  color: #636363;
  font-size: 1.2vw;
  max-width: 65%;
  margin: 0 auto;
  padding: 0.7vw 0vw;
}
.first-heading h2 span {
  color: #c9216f;
  font-weight: 700;
}
.first-heading .btn-primary {
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  border-color: inherit;
  padding: 0.7vw 2vw 0.9vw 2vw;
  border-radius: 100px;
  font-weight: 700;
  margin-top: 1.4vw;
}
/* //first heading */

/* what is our */
.what-is-our {
  padding: 1vw 0vw 4vw 0vw;
  background-color: #f9f9f9;
}
.what-is-our h2 {
  color: #133852;
  font-weight: 600;
  text-align: center;
  padding-bottom: 3vw;
  font-size: 2vw;
}
.what-is-our .what-is-our-box {
  padding: 1.5vw 0.8vw;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 15px 38px rgba(0, 0, 0, 0.1);
  min-height: 17vw;
  border-radius: 5px;
}
.what-is-our .what-is-our-box img {
  margin-bottom: 1vw;
}
.what-is-our .what-is-our-box p {
  color: #636363;
}
.what-is-our .btn-info {
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  border-color: inherit;
  padding: 0.6vw 2vw 0.8vw 2vw;
  border-radius: 100px;
  font-weight: 700;
  text-transform: capitalize;
}
/* //what is our */

/* premium option */
.premium-option {
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  padding: 3vw 0vw 4vw 0vw;
  text-align: center;
}
.premium-option h3 {
  color: #fff;
  font-weight: 600;
  text-align: center;
  font-size: 2vw;
}
.premium-option p {
  color: rgb(241, 240, 240);
  font-size: 1.2vw;
  max-width: 90%;
  margin: 0 auto;
  padding-top: 0.8vw;
  line-height: 2vw;
}
.premium-option p a {
  color: rgb(241, 240, 240);
  text-decoration: underline;
}
.premium-option .btn-primary {
  background-color: #fff !important;
  border-color: #fff !important;
  color: #880982;
  font-weight: 600;
  text-transform: capitalize;
  padding: 0.5vw 2vw 0.7vw 2vw;
  font-size: 1.1vw;
  margin-top: 2vw;
  border-radius: 100px;
}
/* //premium option */

/* best features */
.best-features {
  padding: 3vw 0vw 3vw 0vw;
  background-color: #fff;
}
.best-features h2 {
  color: #133852;
  font-weight: 600;
  text-align: center;
  padding-bottom: 3vw;
  font-size: 2.1vw;
}
.best-features .best-features-content {
  text-align: center;
}
.best-features .best-features-content h3 {
  font-size: 1.4vw;
  margin-bottom: 1vw;
  color: #133852;
}
.best-features .best-features-content p {
  color: #636363;
  text-align: justify;
}
.best-features .best-features-content img {
  padding-bottom: 1vw;
}
.best-features .btn-danger {
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  border-color: inherit;
  padding: 0.6vw 2vw 0.8vw 2vw;
  border-radius: 100px;
  font-weight: 700;
  text-transform: capitalize;
}
/* //best features */

/* how it works */
.how-it-works {
  padding: 3vw 0vw 3vw 0vw;
  background-color: #f1f2f1;
}
.how-it-works h2 {
  color: #133852;
  font-weight: 700;
  text-align: center;
  padding-bottom: 3vw;
  font-size: 2.1vw;
}
.how-it-works .how-it-works-grid {
  text-align: center;
}
.how-it-works .how-it-works-grid h4 {
  font-size: 1.3vw;
  padding: 1vw 0vw;
  color: #133852;
  line-height: 2vw;
  font-weight: 600;
}
.how-it-works .how-it-works-grid p {
  color: #636363;
  font-weight: 500;
  font-size: 0.9vw;
}
.how-it-works .how-it-works-grid img {
  box-shadow: 8px 10px 20px 0px rgba(46, 61, 73, 0.15);
  margin-bottom: 0.7vw;
}
.how-it-works .btn-danger {
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  border-color: inherit;
  padding: 0.6vw 2vw 0.8vw 2vw;
  border-radius: 100px;
  font-weight: 600;
  text-transform: capitalize;
}
/* //how it works */

/* the benefits */
.the-benefits {
  padding: 3vw 0vw 3vw 0vw;
  background-color: #fff;
}
.the-benefits h2 {
  color: #133852;
  font-weight: 700;
  text-align: center;
  padding-bottom: 1vw;
  font-size: 2.1vw;
}
.the-benefits p {
  color: #636363;
  font-size: 1.11vw;
}
.the-benefits h3 {
  color: #133852;
  font-weight: 600;
  font-size: 1.6vw;
}
.the-benefits h4 {
  color: #133852;
  font-weight: 600;
  font-size: 1.4vw;
}
.the-benefits .btn-info {
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  border-color: inherit;
  padding: 0.6vw 2vw 0.8vw 2vw;
  border-radius: 100px;
  font-weight: 600;
  text-transform: capitalize;
}
.the-benefits .the-benefits-cta p {
  font-weight: 700;
  font-size: 1.5vw;
}
.the-benefits .the-benefits-cta .btn-info {
  margin-top: 1.3vw;
}
/* //the benefits */

.free-insta-faq {
  background-color: #f1f2f1;
  padding: 3vw 0vw;
}
.free-insta-faq h2 {
  color: #133852;
  font-weight: 700;
  text-align: center;
  padding-bottom: 1vw;
  font-size: 2.1vw; 
}
.free-insta-faq .card {
  background-color: #fff;
  box-shadow: 6px 6px 20px 2px rgba(46, 61, 73, 0.15);
  border-radius: 7px;
  padding-bottom: 0.3vw;
  margin-bottom: 2.5vw;
}
.free-insta-faq .card-header {
  background-color: #fff;
  border: none;
}
.free-insta-faq .btn-link {
  color: #133853;
  font-weight: 600;
  font-size: 1.1vw;
}
.free-insta-faq .fa-plus, .fa-minus {
  color: #133852;
  font-weight: 600;
  margin-right: 1vw;
}
.free-insta-faq p {
  color: #636363;
  padding-left: 1vw;
}
.free-insta-faq .btn-info {
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  border-color: inherit;
  padding: 0.6vw 2vw 0.8vw 2vw;
  border-radius: 100px;
  font-weight: 600;
  text-transform: capitalize;
}
.free-insta-faq .last-text p {
  font-size: 1.8vw;
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 2.2vw;
  color: #133852;
  font-weight: 600;
}
.free-insta-faq .last-text p span {
  color: #c9216f;
}

/* toastr styles */
.toast {
  opacity: 1 !important;
}
.toast-info { background-color: rgba(4, 192, 176, 0.842) !important; }
.toast-success { background-color: rgba(19, 180, 67, 0.842) !important; }
.toast-error { background-color: rgba(255, 22, 5, 0.863) !important; }

@media only screen and (max-width: 480px) {
  .navbar-brand img {
    width: 160px;
  }
  .navbar-light .fa-bars {
    color: #133852;
  }
  .navbar-light .btn-danger {
    margin: 2vw 0vw;
  }
  .navbar-light .navbar-nav {
    margin-left: 24px !important;
    margin-bottom: 5vw;
  }
  .navbar-light .navbar-nav .nav-link {
    font-size: 3vw;
    padding: 1.5vw 0vw;
  }
  .dropdown {
    font-size: 3vw;
    margin-bottom: 1.5vw;
    margin-top: 0.5vw;
    padding: 0.5vw 0vw;
  }
  .dropdown .dropdown-item {
    padding: 2.8vw 0.8vw 2.8vw 2vw;
    font-size: 2.9vw;
  }
  #navbarContent {
    position: absolute;
    top: 15vw;
    background-color: #fff;
    width: 100%;
    z-index: 1;
  }

  .jumbotron {
    background: url("../assets/free-instagram-followers/free-insta-banner-480.jpg")
      no-repeat;
    height: 1500px;
    background-position: center center;
    background-size: cover;
    position: relative;
  }
  .jumbotron .all-margin {
    margin: 3vw 3vw;
  }
  .jumbotron h1 {
    font-size: 7.5vw;
    line-height: 10vw;
    position: absolute;
    top: 9vw;
    max-width: 100%;
  }
  .jumbotron .banner-points {
    color: #fff;
    padding-inline-start: inherit;
    position: absolute;
    top: 36vw;
  }

  .jumbotron .banner-points li {
    margin-bottom: 10px;
    font-size: 5vw;
    list-style: none;
  }

  .jumbotron p {
    color: #133852;
    padding: 7px 10px;
    border-radius: 7px;
    font-size: 4.2vw;
    font-weight: 600;
    background-color: #fff;
    position: absolute;
    top: 22vw;
  }
  .jumbotron .banner-form {
    padding: 30px 20px;
    border-radius: 5px;
    position: absolute;
    bottom: 12vw;
    left: 16px;
    width: 91vw;
    right: 0;
  }
  .jumbotron .btn-info {
    padding: 1.5vw 3.8vw 1.9vw 2.8vw;
    font-size: 4.4vw;
  }

  .first-heading {
    padding: 9vw 0vw 9vw 0vw;
  }
  .first-heading h2 {
    font-size: 5.5vw;
    line-height: 8.2vw;
  }
  .first-heading p {
    font-size: 4.6vw;
    margin: 0 auto;
    padding: 4vw 0vw;
    
  }
  .first-heading .btn-primary {
    padding: 2.5vw 6vw 2.9vw 6vw;
  }

  .what-is-our {
    padding: 5vw 0vw 4vw 0vw;
  }
  .what-is-our h2 {
    font-size: 7vw;
    line-height: 10vw;
    margin-bottom: 10vw;
  }
  .what-is-our .what-is-our-box {
    margin-bottom: 5vw;
    min-height: 56vw;
    padding: 7vw 2vw 6vw 2vw;
  }
  .what-is-our .what-is-our-box img {
    margin-bottom: 4vw;
  }
  .what-is-our .what-is-our-box p {
    font-size: 5vw;
  }
  .what-is-our .btn-info {
    padding: 2vw 6vw 2.4vw 6vw;
    margin: 4vw 0vw;
  }
  .premium-option {
    padding: 8vw 0vw 8vw 0vw;
  }
  .premium-option h3 {
    font-size: 5.2vw;
    line-height: 9vw;
  }
  .premium-option p {
    line-height: 6vw;
    font-size: 4vw;
    max-width: 100%;
  }
  .premium-option .btn-primary {
    padding: 2vw 7vw 3vw 7vw;
    font-size: 4.5vw;
    margin-top: 7vw;
  }

  .best-features {
    padding: 8vw 0vw 7vw 0vw;
  }
  .best-features h2 {
    font-size: 7vw;
    line-height: 9.4vw;
  }
  .best-features .best-features-content h3 {
    font-size: 6vw;
    margin-bottom: 3vw;
  }
  .best-features .best-features-content img {
    padding-bottom: 4vw;
  }
  .best-features .best-features-content p {
    font-size: 5vw;
  }
  .best-features .btn-danger {
    padding: 2.2vw 7vw 2.8vw 7vw;
    margin: 5vw 0vw 3vw 0vw;
  }
  .how-it-works {
    padding: 7vw 0vw 7vw 0vw;
  }
  .how-it-works h2 {
    font-size: 6.2vw;
    margin-bottom: 6vw;
    line-height: 10.3vw;
  }
  .how-it-works .how-it-works-grid h4 {
    line-height: 6.4vw;
    font-size: 5vw;
  }
  .how-it-works .how-it-works-grid p {
    font-size: 4.1vw;
    line-height: 7.1vw;
    margin-bottom: 9vw;
  }
  .how-it-works .btn-danger {
    padding: 2vw 7vw 3vw 7vw;
  }
  .how-it-works .how-it-works-grid h4 {
    margin-top: 4vw;
  }

  .the-benefits {
    padding: 7vw 0vw 6vw 0vw;
  }
  .the-benefits h2 {
    font-size: 5.5vw;
    line-height: 8vw;
  }
  .the-benefits p {
    font-size: 5vw;
  }
  .the-benefits h3 {
    font-size: 5.6vw;
  }
  .the-benefits h4 {
    font-size: 5.3vw;
    margin-bottom: 3vw;
    margin-top: 6vw;
  }
  .the-benefits .btn-info {
    padding: 2.6vw 7vw 3vw 7vw;
  }
  .the-benefits .the-benefits-cta p {
    font-size: 5.4vw;
  }
  .the-benefits .btn-info {
    margin: 4vw 0vw;
  }
  .free-insta-faq h2 {
    font-size: 6.1vw;
    line-height: 10vw;
  }
  .free-insta-faq .btn-link {
    font-size: 4vw;
    text-align: left;
  }
  .free-insta-faq .fa-plus, .fa-minus {
    margin-right: 3.2vw;
  }
  .free-insta-faq .card-header {
    padding: 2vw 1vw;
  }
  .free-insta-faq p {
    font-size: 4.1vw;
  }
  .free-insta-faq .last-text p {
    font-size: 5.8vw;
    max-width: 100%;
  }
  .free-insta-faq .btn-info {
    padding: 2.6vw 7vw 3.1vw 7vw;
    margin: 4vw 0vw;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .navbar-light .btn-danger {
    margin: 5vw 0vw;
    font-size: 2.2vw;
    padding: 1.3vw 4vw;
  }
  .navbar-light .navbar-nav {
    margin-left: 24px !important;
    margin-bottom: 5vw;
  }
  .navbar-brand img {
    width: 17vw;
  }
  .navbar-light .navbar-nav .nav-link {
    font-size: 3vw;
    padding: 1.5vw 0vw;
  }
  .dropdown {
    font-size: 3vw;
    margin-bottom: 1.5vw;
    margin-top: 0.5vw;
    padding: 0.5vw 0vw;
  }
  .dropdown .dropdown-item {
    padding: 2.8vw 0.8vw 2.8vw 2vw;
    font-size: 2.9vw;
  }
  #navbarContent {
    background-color: #fff;
  }

  .jumbotron {
    background: url("../assets/free-youtube-subscribers/free-yt-banner-1024.jpg")
      no-repeat;
    height: 1400px;
  }
  .jumbotron h1 {
    top: 4vw;
    line-height: 7vw;
    font-size: 4.8vw;
    margin-left: 1rem;
  }
  .jumbotron .banner-points {
    top: 40vw;
  }
  .jumbotron p {
    top: 20vw;
    font-size: 3vw;
    padding-left: 3vw;
    padding-bottom: 3vw;
    padding-top: 3vw;
    margin-left: 1rem;
  }
  .jumbotron .btn-info {
    padding: 1vw 1.2vw 1.3vw 1vw;
    font-size: 1.6vw;
  }
  .jumbotron .banner-points li {
    font-size: 2.5vw;
    margin-bottom: 1.3vw;
  }
  .navbar-light .fa-bars {
    color: #133852;
  }

  .first-heading h2 {
    font-size: 3.3vw;
    max-width: 80%;
    margin: 0 auto;
    line-height: 4.7vw;
  }
  .first-heading p {
    max-width: 75%;
    padding: 2vw 0vw 3vw 0vw;
    margin: 0 auto;
    font-size: 2.2vw;
  }
  .first-heading .btn-primary {
    font-size: 2.5vw;
    padding: 1.4vw 4vw 1.9vw 4vw;
  }

  .what-is-our h2 {
    font-size: 3.8vw;
    margin-bottom: 3vw;
  }
  .what-is-our .what-is-our-box {
    min-height: 70vw;
    padding: 3.5vw 1.2vw;
  }
  .what-is-our .what-is-our-box img {
    margin-bottom: 2vw;
  }
  .what-is-our .btn-info {
    padding: 1.1vw 4vw 1.3vw 4vw;
  }
  .premium-option {
    padding: 5vw 0vw;
  }
  .premium-option h3 {
    font-size: 3vw;
  }
  .premium-option p {
    font-size: 2.2vw;
    max-width: 80%;
    line-height: 3.5vw;
  }
  .premium-option .btn-primary {
    font-size: 2vw;
  }
  .best-features h2 {
    font-size: 3.8vw;
    margin-bottom: 3vw;
  }
  .best-features .best-features-content h3 {
    font-size: 2.6vw;
  }
  .best-features .best-features-content p {
    font-size: 2.4vw;
  }
  .best-features .btn-danger {
    padding: 1.1vw 4vw 1.3vw 4vw;
  }
  .how-it-works h2 {
    font-size: 3.8vw;
    margin-bottom: 3vw;
    line-height: 6vw;
  }
  .how-it-works .how-it-works-grid h4 {
    padding: 1vw 0vw;
    line-height: 3.3vw;
    font-size: 2.2vw;
  }
  .how-it-works .how-it-works-grid p {
    font-size: 2vw;
  }
  .how-it-works .btn-danger {
    padding: 1.1vw 4vw 1.3vw 4vw;
  }

  .the-benefits h2 {
    font-size: 3vw;
  }
  .the-benefits p {
    font-size: 2.7vw;
  }
  .the-benefits h3 {
    font-size: 3vw;
  }
  .the-benefits h4 {
    font-size: 3.5vw;
  }
  .the-benefits .btn-info {
    padding: 1.1vw 4vw 1.3vw 4vw;
  }
  .the-benefits .the-benefits-cta p {
    font-size: 3.2vw;
  }
  .free-insta-faq .btn-link {
    font-size: 2vw;
  }
  .free-insta-faq .card-header {
    padding: 2vw 1vw;
  }
  .free-insta-faq h2 {
    font-size: 4.1vw;
  }
  .free-insta-faq p {
    font-size: 2.2vw;
  }
  .free-insta-faq .last-text p {
    font-size: 4vw;
    max-width: 100%;
  }
  .free-insta-faq .btn-info {
    padding: 1.6vw 4vw 2.1vw 4vw;
    margin: 4vw 0vw;
    font-size: 3vw;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1100px) {
  .navbar-light .navbar-nav {
    margin-left: 3vw !important;
    margin-top: -1vw;
  }
  .navbar-light .btn-danger {
    margin: 2vw 0vw !important;
    padding: 0.8vw 0vw;
    font-size: 1.1vw;
    margin-top: -4.5vw !important;
  }
  .navbar-brand img {
    width: 15vw;
  }
  .navbar-light .navbar-nav .nav-link {
    font-size: 1.1vw;
    padding: 0.7vw 0.7vw;
  }
  .dropdown {
    font-size: 1.1vw;
    padding: 0vw 0.9vw;
  }
  .dropdown .dropdown-item {
    padding: 1.4vw 0.8vw 1.4vw 1vw;
    font-size: 1.2vw;
  }
  #navbarContent {
    position: absolute;
    top: 3vw;
    left: 17vw;
    width: 80%;
    background-color: inherit;
  }
  .jumbotron p {
    padding-top: 1.5vw;
    padding-bottom: 2vw;
    font-size: 3vw;
    top: 19.5vw;
  }
  .jumbotron .banner-points {
    top: 36vw;
  }
  .what-is-our .what-is-our-box {
    min-height: 39vw;
  }
  .premium-option .btn-primary {
    font-size: 2vw;
  }
  .best-features .btn-danger {
    padding: 1.1vw 4vw 1.3vw 4vw;
    font-size: 1.8vw;
  }
  .how-it-works .btn-danger {
    padding: 1.1vw 4vw 1.3vw 4vw;
    font-size: 1.8vw;
  }
}
