

/* banner */
.video-editing-banner {
    background: url('../assets/video-editing-services/video-editing-banner.webp') no-repeat;
    height: 560px;
    background-size: cover;
    background-position: center center;
    position: relative;
    margin-top: 89px;
}
.video-editing-banner .video-editing-banner-caption {
    position: absolute;
    top: 33%;
    left: 50%;
}
.video-editing-banner .video-editing-banner-caption h1 {
    font-size: 33px;
    color: #fff;
    padding: 25px 70px;
    font-weight: 500;
    text-transform: uppercase;
    border: 4px solid #fff;
    line-height: 48px;
}
.banner-border {
    padding: 11px 0px;
    margin-top: -23px;
}
.banner-border-one {
    background-color: #153752;
    float: left;
    padding: 12px 0px;
    width: 30%;
}
.banner-border-two {
    background-color: #a3dcef;
    width: 40%;
    float: left;
    padding: 12px 0px;
}
.banner-border-three {
    background-color: #153752;
    width: 30%;
    float: left;
    padding: 12px 0px;
}

@media (min-width: 320px) and (max-width: 375px) {
    .video-editing-banner {
        background: url('../assets/video-editing-services/video-editing-banner-320.webp') no-repeat;
        height: 540px;
        margin-top: 0px;
    }
    .video-editing-banner .video-editing-banner-caption {
        top: 71%;
        left: 16px;
    }
    .video-editing-banner .video-editing-banner-caption h1 {
        font-size: 20px;
        padding: 10px 10px;
        line-height: 28px;
    }
}
@media (min-width: 375px) and (max-width: 414px) {
    .video-editing-banner {
        background: url('../assets/video-editing-services/video-editing-banner-375.webp') no-repeat;
        height: 540px;
        margin-top: 0px;
    }
    .video-editing-banner .video-editing-banner-caption {
        top: 71%;
        left: 30px;
    }
    .video-editing-banner .video-editing-banner-caption h1 {
        font-size: 22px;
        padding: 10px 10px;
        line-height: 31px;
    }
}
@media (min-width: 414px) and (max-width: 568px) {
    .video-editing-banner {
        background: url('../assets/video-editing-services/video-editing-banner-414.webp') no-repeat;
        height: 540px;
        margin-top: 0px;
    }
    .video-editing-banner .video-editing-banner-caption {
        top: 71%;
        left: 41px;
    }
    .video-editing-banner .video-editing-banner-caption h1 {
        font-size: 23px;
        padding: 10px 10px;
        line-height: 31px;
    }
}
/* //banner */

/* video section */
.video-section {
    padding: 60px 0px;
    position: relative;
}

.video-section-border {
    background-color: #a3dcef;
    padding: 28px 0px;    
    position: absolute;
    top: 20%;
}
.video-section p {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    color: #3c3c3c;
    border-top: 1px solid #3c3c3c;
    border-bottom: 1px solid #3c3c3c;
    padding: 20px 2px;
}
.video-section h2 {
    font-weight: 700;
    font-size: 22px;
    padding: 22px 0px;
    text-transform: uppercase;
    color: rgb(77, 77, 77);
    /* background-color: #e15c4b; */
    width: 54%;
    border-radius: 8px;
    margin: 0 auto;
    /* margin-bottom: 60px; */
    /* margin-top: 60px; */
}
.video-section .fa {
    color: #f44336;
    margin-right: 10px;
    font-size: 50px;
}
.video-section ul {
    margin-top: 40px;
}
.video-section ul li {
    list-style: none;
    display: flex;
    color: #636363;
}
.video-section .btn-danger {
    background-color: #c82333;
    border-color: #c82333;
    padding: 12px 22px 14px 22px;
    border-radius: 100px;
    margin-top: 32px;
    font-weight: 600;
    text-transform: uppercase;
}
.video-section .btn-danger:hover {
    background-color: #ad1424;
    color: #fff;
    border-color: #ad1424;
}

@media (min-width: 320px) and (max-width: 375px) {
    .video-section p {
        font-size: 20px;
    }
    .video-section h2 {
        font-size: 18px;
        line-height: 30px;
        margin-top: 35px;
        margin-bottom: 40px;
        width: 100%;
    }
    .video-section iframe {
        height: 200px;
    }
    .video-section ul {
        margin-top: 10px;
        padding-inline-start: initial;
    }
    .video-section .btn-danger {
        padding: 9px 22px;
        font-size: 16px;
        margin-top: 20px;
    }
}
@media (min-width: 375px) and (max-width: 414px) {
    .video-section p {
        font-size: 20px;
    }
    .video-section h2 {
        font-size: 18px;
        line-height: 30px;
        margin-top: 35px;
        margin-bottom: 40px;
        width: 100%;
    }
    .video-section iframe {
        height: 200px;
    }
    .video-section ul {
        margin-top: 10px;
        padding-inline-start: initial;
    }
    .video-section .btn-danger {
        padding: 9px 22px;
        font-size: 16px;
        margin-top: 20px;
    }
}
@media (min-width: 414px) and (max-width: 568px) {
    .video-section p {
        font-size: 23px;
    }
    .video-section h2 {
        font-size: 18px;
        line-height: 30px;
        margin-top: 35px;
        margin-bottom: 40px;
        width: 100%;
    }
    .video-section iframe {
        height: 200px;
    }
    .video-section ul {
        margin-top: 10px;
        padding-inline-start: initial;
    }
    .video-section .btn-danger {
        padding: 9px 22px;
        font-size: 16px;
        margin-top: 20px;
    }
}
/* video section */

/* hey-youtubers */
.hey-youtubers {
    padding: 50px 0px;
}
.hey-youtubers-text {
    background-color: #153752;
    padding: 22px 106px 23px 20px;
    color: #fff;
    min-height: 410px;
    border-radius: 5px;
    margin-top: -21px;
}
.hey-youtubers-img img {
    border-radius: 5px;
    display: inline-block;
    margin-left: -60px;
}

@media (min-width: 320px) and (max-width: 375px) {
    .hey-youtubers {
        padding: 20px 0px;
    }
    .hey-youtubers-text {
        padding: 13px 13px;
    }
    .hey-youtubers-img img {
        margin-left: 0px;
    }
} 
@media (min-width: 375px) and (max-width: 414px) {
    .hey-youtubers {
        padding: 20px 0px;
    }
    .hey-youtubers-text {
        padding: 13px 13px;
    }
    .hey-youtubers-img img {
        margin-left: 0px;
    }
} 
@media (min-width: 414px) and (max-width: 568px) {
    .hey-youtubers {
        padding: 20px 0px;
    }
    .hey-youtubers-text {
        padding: 13px 13px;
    }
    .hey-youtubers-img img {
        margin-left: 0px;
    }
}    
/* //hey-youtubers */


/* how-it-works */
.how-it-works {
    padding: 50px 0px;
    position: relative;
}
.how-it-works h3 {
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px solid #3c3c3c;
    border-top: 1px solid #3c3c3c;
    padding: 30px 0px;
}
.how-it-works .how-it-works-grid {
    width: 95%;
}
.how-it-works .how-it-works-grid ul {
    padding-inline-start: initial;
    margin-top: 15px;
}
.how-it-works .how-it-works-grid ul li {
    color: #636363;
    list-style: none;
    text-align: center;
    font-size: 17px;
}
.how-it-works .how-it-works-grid .fa-long-arrow-right {
    color: #ee5c58;
    position: absolute;
    left: 93%;
    top: 27%;
    font-size: 32px;
}
.how-it-works .btn-warning {
    border-radius: 100px;
    padding: 12px 22px 14px 22px;
    font-weight: 600;
    background-color: #c82333;
    color: #fff;
    border-color: #c82333;
}
.how-it-works .btn-warning:hover {
    background-color: #ad1424;
    color: #fff;
    border-color: #ad1424;
}

@media (min-width: 320px) and (max-width: 375px) {
    .how-it-works {
        padding: 20px 0px;
    }
    .how-it-works h3 {
        font-size: 20px;
        padding: 15px 0px;
    }
    .how-it-works .how-it-works-grid {
        width: 100%;
    }
    .how-it-works .how-it-works-grid ul li {
        margin-bottom: 28px;
    }
    .how-it-works .py-5 {
        padding-bottom: 0 !important;
    }
}
@media (min-width: 375px) and (max-width: 414px) {
    .how-it-works {
        padding: 20px 0px;
    }
    .how-it-works h3 {
        font-size: 20px;
        padding: 15px 0px;
    }
    .how-it-works .how-it-works-grid {
        width: 100%;
    }
    .how-it-works .how-it-works-grid ul li {
        margin-bottom: 28px;
    }
    .how-it-works .py-5 {
        padding-bottom: 0 !important;
    }
}
@media (min-width: 414px) and (max-width: 568px) {
    .how-it-works {
        padding: 20px 0px;
    }
    .how-it-works h3 {
        font-size: 20px;
        padding: 15px 0px;
    }
    .how-it-works .how-it-works-grid {
        width: 100%;
    }
    .how-it-works .how-it-works-grid ul li {
        margin-bottom: 28px;
    }
    .how-it-works .py-5 {
        padding-bottom: 0 !important;
    }
}
@media (max-width: 768px) {
    .how-it-works .how-it-works-grid .fa-long-arrow-right {
        display: none;
    }
}
/* //how-it-works */

/* best-features */
.best-features {
    padding: 50px 0px;
}
.best-features h2 {
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px solid #3c3c3c;
    border-top: 1px solid #3c3c3c;
    padding: 30px 0px;
}
.best-features p {
    color: #636363;
    font-size: 22px;
    margin-top: 12px;
}
.best-features .col-md-4, .col-lg-4 {
    margin-bottom: 35px;
}
.best-features .best-features-grid {
    border-radius: 5px;
    border: 1px solid #b5b5b5;
    padding: 20px 15px;
    text-align: center;
    min-height: 378px;
}
.best-features .best-features-grid h3 {
    font-size: 22px;
    font-weight: 600;
    color: #636363;
    margin-bottom: 20px;
}
.best-features .best-features-grid p {
    color: #7b7b7b;
    font-size: 17px;
    text-align: justify;
}
.best-features .btn-info {
    background-color: #c82333;
    border-color: #c82333;
    padding: 12px 22px 14px 22px;
    color: #fff;
    border-radius: 100px;
    font-weight: 600;
}
.best-features .btn-info:hover {
    background-color: #ad1424;
    color: #fff;
    border-color: #ad1424;
}
.best-features-points h2 {
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
    border-top: none;
    border-bottom: none;
    margin-top: 25px;
}
.best-features ul li {
    color: #565656;
    font-size: 17px;
    list-style: none;
    display: flex;
}
.best-features .fa-check-circle {
    color: #238398;
    font-size: 30px !important;
    display: inline-block;
    margin-right: 10px;
}

@media (min-width: 320px) and (max-width: 375px) {
    .best-features h2 {
        font-size: 20px;
        line-height: 29px;
        padding: 15px 0px;
    }
    .best-features {
        padding: 20px 0px;
    }
    .best-features ul {
        padding-inline-start: initial;
    }
    .best-features .btn-info {
        padding: 10px 22px;
    }
}
@media (min-width: 375px) and (max-width: 414px) {
    .best-features h2 {
        font-size: 20px;
        line-height: 29px;
        padding: 15px 0px;
    }
    .best-features {
        padding: 20px 0px;
    }
    .best-features ul {
        padding-inline-start: initial;
    }
    .best-features .btn-info {
        padding: 10px 22px;
    }
}
@media (min-width: 414px) and (max-width: 568px) {
    .best-features h2 {
        font-size: 22px;
        line-height: 31px;
        padding: 15px 0px;
    }
    .best-features {
        padding: 20px 0px;
    }
    .best-features ul {
        padding-inline-start: initial;
    }
    .best-features .btn-info {
        padding: 10px 22px;
    }
}
/* //best-features */

/* moneyback-guarantee */
.moneyback-guarantee {
    background-color: #153752;
    padding: 50px 0px;
    color: #fff;
    text-align: center;
    margin-top: 135px;
}
.moneyback-guarantee h3 {
    font-size: 32px;
}
.moneyback-guarantee p {
    font-size: 19px;
    margin-top: 14px;
}
.moneyback-guarantee > img {
    display: inline-block;
    margin-top: -231px;
}
.moneyback-guarantee .fa-star {
    color: #DAA520;
}

@media (min-width: 320px) and (max-width: 375px) {
    .moneyback-guarantee > img {
        margin-top: -214px;
    }
    .moneyback-guarantee h3 {
        font-size: 24px;
    }
    .moneyback-guarantee p {
        font-size: 17px;
        margin-top: 17px;
        line-height: 26px;
    }
}
@media (min-width: 375px) and (max-width: 414px) {
    .moneyback-guarantee > img {
        margin-top: -230px;
    }
    .moneyback-guarantee h3 {
        font-size: 24px;
    }
    .moneyback-guarantee p {
        font-size: 17px;
        margin-top: 17px;
        line-height: 26px;
    }
}
@media (min-width: 414px) and (max-width: 568px) {
    .moneyback-guarantee > img {
        margin-top: -231px;
    }
    .moneyback-guarantee h3 {
        font-size: 24px;
    }
    .moneyback-guarantee p {
        font-size: 17px;
        margin-top: 17px;
        line-height: 26px;
    }
}
/* moneyback-guarantee */


/* plan */
.plan {
    padding: 60px 0px;
    position: relative;
}
.plan h2 {
    font-size: 25px;
    font-weight: 600;
    border-bottom: 1px solid #3c3c3c;
    border-top: 1px solid #3c3c3c;
    padding: 14px 0px;
    text-transform: uppercase;
}
.plan p {
    font-size: 17px;
    margin-top: 15px;
    color: #636363;
    padding: 0px 144px;
}
.plan .plan-table {
    border: 1px solid #ababab;
    padding: 40px 16px;
    border-radius: 18px;
    margin-top: 25px;
}
.plan .vertical-text{
    background: rgb(40,165,245); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(40,165,245,1) 0%, rgba(81,205,215,1) 100%); 
    background: -webkit-linear-gradient(left,  rgba(40,165,245,1) 0%,rgba(81,205,215,1) 100%); 
    background: linear-gradient(to right,  rgba(40,165,245,1) 0%,rgba(81,205,215,1) 100%); 
    width: 60px;
    height: 200px;
    display: inline-block;
    content: '';
    position: absolute;
    left: -11.5%;
    top: 15%;
    transform: rotate(180.5deg);
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}
.plan .vertical-text p {
    position: absolute;
    right: -145px;
    text-orientation: sideways-right;
    writing-mode: vertical-rl;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 21px;
}
.plan .vertical-text-2 {
    background: rgb(247,97,133);
    background: -moz-linear-gradient(left,  rgba(247,97,133,1) 0%, rgba(250,114,175,1) 57%, rgba(240,136,226,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(247,97,133,1) 0%,rgba(250,114,175,1) 57%,rgba(240,136,226,1) 100%); 
    background: linear-gradient(to right,  rgba(247,97,133,1) 0%,rgba(250,114,175,1) 57%,rgba(240,136,226,1) 100%); 
    width: 60px;
    height: 200px;
    display: inline-block;
    content: '';
    position: absolute;
    left: -11.5%;
    top: 15%;
    transform: rotate(180.5deg);
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}
.plan .vertical-text-2 p {
    position: absolute;
    right: -145px;
    text-orientation: sideways-right;
    writing-mode: vertical-rl;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 21px;
}
.plan .plan-table sub {
    text-decoration: line-through;
    font-size: 16px;
}
.plan .plan-table h4 {
    text-align: center;
    font-size: 52px;
    color: #585858;
}
.plan .plan-table h4::after {
    display: block;
    content: '';
    border: 1px solid #c7c7c7;
    width: 85%;
    margin: 20px 0px;
    margin-left: 20px;
}
.plan .plan-table ul li {
    font-size: 18px;
    margin-bottom: 18px;
    list-style: none;
    color: #636363;
}
.plan .plan-table ul li::before {
    display: inline-block;
    font-family: 'FontAwesome';
    content: '\f058';
    color: #153752;
    margin-right: 12px;
    font-size: 20px;
}
.plan .plan-table .btn-primary {
    border-radius: 100px;
    padding: 8px 23px;
    background-color: #26a3f7;
    border-color: #26a3f7;
    margin-top: 23px;
    margin-bottom: 12px;
    width: 200px;
    font-size: 22px;
    font-weight: 600;
}

@media (min-width: 320px) and (max-width: 375px) {
    .plan h2 {
        font-size: 22px;
    }
    .plan p {
        padding: 0px;
    }
    .plan .vertical-text {
        left: -0.5%;
    }
    .plan .vertical-text p {
        right: -2px;
    }
    .plan .vertical-text-2 {
        left: -0.5%;
    }
    .plan .vertical-text-2 p {
        right: -2px;
    }
    .plan .extra-info ul li img {
        height: 62px;
        width: 100%;
    }
}
@media (min-width: 375px) and (max-width: 414px) {
    .plan h2 {
        font-size: 22px;
    }
    .plan p {
        padding: 0px;
    }
    .plan .vertical-text {
        left: 0.5%;
    }
    .plan .vertical-text p {
        right: -2px;
    }
    .plan .vertical-text-2 {
        left: 0.5%;
    }
    .plan .vertical-text-2 p {
        right: -2px;
    }
    .plan .extra-info ul li img {
        height: 83px;
        width: 100%;
    }
}
@media (min-width: 414px) and (max-width: 568px) {
    .plan h2 {
        font-size: 22px;
    }
    .plan p {
        padding: 0px;
    }
    .plan .vertical-text {
        left: 0.5%;
    }
    .plan .vertical-text p {
        right: -2px;
    }
    .plan .vertical-text-2 {
        left: 0.5%;
    }
    .plan .vertical-text-2 p {
        right: -2px;
    }
    .plan .extra-info ul li img {
        height: 104px;
        width: 100%;
    }
}
/* plan */

@media (max-width: 674px) {
    .container-fluid {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

